:root {
  --primary-color: #353241;
  --secondary-color: #a6808c;
  --background-color: #d6cfcb;
  --secondary-light-color: #ccb7ae;
  --secondary-dark-color: #706677;
  --primary-font: "Lora", serif;
}

* {
  max-width: 800px;
  margin: 0 auto;
}
