.Meaning h3 {
  font-size: 16px;
  font-style: italic;
  color: var(--secondary-color);
  font-weight: normal;
  margin: 20px 0px;
}

.Meaning .definition-container {
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}
.Meaning p {
  margin: 0;
  font-weight: lighter;
}

.Meaning .example {
  color: var(--secondary-color);
  line-height: 1;
}
