.Synonyms {
  text-align: center;
  margin: 0 auto;
}

.Synonyms h3 {
  text-align: left;
}

.Synonyms li {
  list-style-type: none;
  display: inline-block;
  padding: 4px 16px;
  border: 1px solid var(--background-color);
  border-radius: 18px;
  color: var(--secondary-color);
  margin: 8px;
}

.Synonyms ul {
  padding: 0px;
}

.synonym-button {
  color: var(--primary-color);
  position: relative;
}

.synonym-button::before,
.synonym-button::after {
  scale: 0;
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  transition: 300ms ease;
  transform-origin: 0% 50%;
}

.synonym-button::before {
  padding: 10px;
  width: max-content;
  background: var(--primary-color);
  content: attr(data-tooltip);
  color: white;
  border-radius: 18px;
}

.synonym-button:hover::before {
  scale: 1;
}

@media (max-width: 830px) {
  .synonym-button::before {
    max-width: 10em;
  }
}
